body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(45deg, red,blue,pink,orange);
    background-size: 600% 600%;
    animation: backgroundAnimation 10s ease infinite;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin: 0;
    color:white;
    text-shadow: 5px 4px 4px black;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    
}

nav ul li a:hover {
    color: #f4a261;
    
}

main {
    padding: 20px;
}

.hero {
    background: rgba(42, 157, 143, 0.8);
    color: red;
    padding: 60px 20px;
    text-align: center;
    border-radius: 8px;
    animation: fadeIn 2s;
}

.hero h2 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
}

.content {
    background: white;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 3px 2px 4px 3px black;
    margin-top: 20px;
    animation: slideIn 1s;
    color:Oranged;
    
    
    margin: auto;
    text-shadow: 4px 4px 5px grey;
    
    
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin-top: 200px;
    box-shadow: 3px 4px 5px 4px white;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

a{
    
    
}

p{
    color:blue;
    text-shadow: 90px,3p,6p,red;
    
}

h2{
    font-size:35px;
    text-align: top;
    justify-content: center;
    align-items: top;
    
    
}
.logo{
    
    
   list-style: none;
    padding: 0;
    text-align: left;
    text-decoration: none;
    color:orange;
    font-size:15px;
    
}

.text{
   color:green; 
    font-size: 15;
    text-shadow: 4px 2px 3px black;
    
    
}
